.release-notes-card {
    margin: 8px 16px 0px;
    .bolt-card-content{
        flex-direction: column;
    }
}

.release-status {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
}

.release-author_persona {
    display: inline-block;
    vertical-align: bottom;
}

