.release-notes-card {
    margin: 8px 16px 0px;
}

.pull-request-status {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
}

.persona-inline {
    display: inline-block;
    vertical-align: bottom;
}
